<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    <title>Case Assignment</title>
</head>

<body class="container-fluid">        
    <div class="mt-4">
        <div class="row">
            <div class="col-12 col-md-8"> 
                <h4>{{pageTitle | safe}}</h4>                            
                {{df | safe}}                
            </div>
            <div class="col-6 col-md-4 d-inline">
                <form class="" action="/" method="POST">
                    <button type="submit" class="btn btn-primary" name="mini_dashboard" value="mini_dashboard">Upload File</button>
                </form> 

                <div class="row">
                    <div class="col-12 col-md-8">                             
                        <form class="" action="/dashboard" method="POST" enctype="multipart/form-data">
                        <label for="startDate">Select Date From:</label><br>
                        <input type="date" id="startDate" name="startDate" required><br>
                        <label for="toDate">To:</label><br>
                        <input type="date" id="toDate" name="toDate" required><br>
                        <input class="mt-1" type="submit" name="Load" value="Load">
                    </form>             
                    </div>
                    <div class="col-6 col-md-4 d-inline">
                        
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 col-md-8">
                        <b>Date Range</b><br>
                        {{dateRange | safe}}<br>                         
                        <b>Total Profit</b><br>
                        {{totalProfit | safe}}<br>
                        <b>Top Five Profitable Item Types</b><br>                          
                        {{profitableItemTypes | safe}}   
                    </div>
                    <div class="col-6 col-md-4 d-inline">            
                    </div>
                </div>              
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">  
                  
            </div>
            <div class="col-6 col-md-4 d-inline">            
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>